* {
    box-sizing: border-box;
  }
body{
    background-color: #000000;
}
header{
    width: 100%;
    height:20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.logo{
    height: 100%;
    width: fit-content;
    margin-top: 10px;

}

a{
    text-decoration: none;
    width:30vw;
}
header h1{
    font-family: 'Gentium Book Plus', serif, text-transform uppercase; 
    color: #fff;
    font-weight:bold;
    line-height: 50px;
    font-size: 5vw;
    height: 100%;
    width:100%;
    padding-top: 7vh;
    padding-bottom: 5vh;
    margin:0;
}

header a{
    text-decoration: none;
    text-align:center;
    align-content: center;
    height: 20vh;
    vertical-align: middle;
}

 .upper-homepage-style{
    margin:0;
    padding:0;
    width: 100%;
    height: 10vh;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position:bottom;
    background-attachment: local;
    margin-bottom: 2vh;
} 

.descrizionesito {
    text-align: center;
    color: white;
    font-family: 'Gentium Book Plus', serif;
    font-size: 200%;
    margin: 5vh;
    display: block;
 
  }


.Credits{
    font-size:1.2vw;
  }

.homepage-video{
    text-align:center;
    width: 80vw;
    height:fit-content;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height:10vh;
    margin: auto;
    position: relative;
    background-color: #D11500;
    z-index: 7;
}  
.menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
}
    
.menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 100%;
    z-index: 9;
}
menu a.active {
    background-color: #D11500;
    pointer-events: none;
}


#jazz-menu.menu {
    background-color: rgb(238, 219, 12);
}
.menu li a:hover,
.menu li a:focus {
    background-color:#fff;
    color:#D11500;
    
  }

.home-img-appearance{
    height: 100%;
    width: fit-content;
    max-width: 100%;
    max-height: fit-content;
    border-radius: 50%;
    text-align:center;
    object-fit: contain;
    
}

.home-caption {
    height:30%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Gentium Book Plus', serif;
    font-weight: bold;
    font-size: 2vh;
    color: #fff;
    font-size: 20px;
    line-height: 80%; 
   
}

footer {
	background-color: #151516;
	text-align: center;
	padding-top: 1vh;
	color: #fff;
	font-size:2vh;
}

.copyrightfooter {
	padding-right: 15em;
	padding-left: 15em;
}

.mailcontact{
	font-family: 'Reenie Beanie', cursive;
	font-size: 4vh;
}
.mailcontact a {
	color:#fff;
	text-decoration: none;
}


/* BUTTONS */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #D30000;
	background-color: #000000;
	border: 1px solid #000000;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #000000;
	background-color: #000000;
	border: 1px solid #000000;
}

.classelenco { 
    line-height: 10px;
    font-size: 80%;
    height:70%
}

.descrizione { 
    margin:0;
    line-height: 1em;
    font-size: 1em;
    height: 40%;
    line-height: 3vh;
}

.gallery-grid-wrapper{
    display: grid;
    justify-content: center;
    margin-top:10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    background-color:none;
}

.gallery-grid-wrapper div {
    text-align: center;
    padding: 3%;
    font-weight: bolder;
    color: white;
    
}
.gallery-grid-wrapper a {
    height: 100%;
}
.gallery-grid-wrapper div:hover {
    opacity: 2;
    
}
.gallery-grid-wrapper a {
    size: inherit;
    text-decoration: none;
    color: #fff;
    display: block;
}
.gallery-grid-wrapper a:hover {
    color: red;
}
#jazz a:hover {
    color: rgb(238, 219, 12);
}
#postpunk a:hover {
 color: rgb(136, 0, 255)
}
#indie a:hover{
 color:rgb(1, 174, 105) ;
}
#classici-italiani a:hover {
color:rgb(30, 160, 241);
}
#tropicalvibes a:hover {
color: rgb(255, 115, 0);
}
#rock a:hover {
color: rgb(255, 0, 140)
}


.gallery-grid-wrapper-img-appearance {
    object-fit: cover;
    object-position: center;
    text-align:center;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.75;
}
#jazz.gallery-grid-wrapper-img-appearance {
    background-image: url("./img/jazz.png");
}
#rock.gallery-grid-wrapper-img-appearance {
    background-image: url("./img/rock.png");
}
#classici-italiani.gallery-grid-wrapper-img-appearance {
    background-image: url("./img/cantautorato.png");
}
#indie.gallery-grid-wrapper-img-appearance {
    background-image: url("./img/indie.png");
}
#postpunk.gallery-grid-wrapper-img-appearance {
    background-image: url("./img/postpunk.png");
}
#tropicalvibes.gallery-grid-wrapper-img-appearance {
    background-image: url("./img/tropicalvibes.png");
}

.gallery-img-appearance {
    height: 100%;
    width: 30%;
}

.gallery-img-appearance img {
    object-fit: cover;
    object-position: center;
    width:100%;
    height: 100%;
    padding: 2%;
    border-radius: 10%;
}

.gallery-header {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-top:2%;
}


#jazz.gallery-header {
    color:  rgb(238, 219, 12);
}
#rock.gallery-header {
    color: rgb(255, 0, 140);
}
#postpunk.gallery-header {
    color: rgb(136, 0, 255);
}
#classiciitaliani.gallery-header {
    color:rgb(30, 160, 241);
}
#tropicalvibes.gallery-header {
    color:rgb(255, 115, 0);
}
#indie.gallery-header {
    color:rgb(1, 174, 105);
}

.gallery-flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5vh;
    background-color: black;
    height: 40vh;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    
}
#jazz.gallery-flex-wrapper {
    border: 1px solid rgb(238, 219, 12);
}

#rock.gallery-flex-wrapper {
    border: 1px solid  rgb(255, 0, 140);
}

#postpunk.gallery-flex-wrapper {
    border: 1px solid rgb(136, 0, 255);
}

#classiciitaliani.gallery-flex-wrapper {
    border: 1px solid rgb(30, 160, 241);
}

#tropicalvibes.gallery-flex-wrapper {
    border: 1px solid rgb(255, 115, 0);
}

#indie.gallery-flex-wrapper {
    border: 1px solid rgb(1, 174, 105);
}

#rock-menu.menu {
    background-color:rgb(255, 0, 140);
}


#postpunk-menu.menu {
    background-color: rgb(136, 0, 255);
}


#classiciitaliani-menu.menu {
    background-color: rgb(30, 160, 241);
}


#tropicalvibes-menu.menu {
    background-color: rgb(255, 115, 0);
}

#indie-menu.menu {
    background-color: rgb(1, 174, 105);
}

.gallery-song-caption {
    height:100%;
    width: 70%;
    text-align: center;
    padding: 2%;
    color: white;
    font-family: 'Gentium Book Plus', serif;

}

.gallery-song-caption ul{
    list-style: none;
    

}

.about-flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5vh;
    background-color: rgb(0, 0, 0);
    height: 60vh;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    
}

.about-img-appearance {
    height: 100%;
    width: 70%;
    padding: 2%;
    padding-top: 0;
  
}

.about-img-appearance img {
    object-fit: cover;
    object-position: center;
    width:100%;
    height: 100%;
    padding: 2%;
    border-radius: 10%;
}

.about-caption {
    height:90%;
    width: 100%;
    text-align: left;
    padding: 2%;
    color: white;
    font-family: 'Gentium Book Plus', serif;
    border: none;
    margin-top: 3%;
   
 
  }

.aboutus-description {
    width: 100%;
    border: #fff solid 1px;
    color: #fff;
    margin-top: 4vh;
    padding: 10%;
    
}

.aboutus-description a{
    text-decoration: none;
    color: #D30000;
    
}


.song-list {
    border: red solid 2px;
    margin: 5% ;
    width: 40%;
    text-align: center;
    padding-left: 0;
    border-radius:10px;
   
}
.song-list li {
    color: #fff;
    list-style: none;
    margin: 5%;
    
}

  form {
      position: relative;
    /*width: 80%; */
      border-radius: 30px;
      background: #fff;
      box-sizing: border-box;
      margin-right: 20%;
      margin-left:20%;
      margin-bottom: 5vh;
      }
      .form-decor {
        text-align: center;
        margin-right: 0;
      }
      .form-left-decoration,
      .form-right-decoration {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 20px;
      background: #D11500 ;
      }
      .form-left-decoration {
      bottom: 60px;
      left: -30px;
      }
      .form-right-decoration {
      top: 60px;
      right: -30px;
      }
      .form-left-decoration:before,
      .form-left-decoration:after,
      .form-right-decoration:before,
      .form-right-decoration:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 30px;
      background: #fff;
      }
      .form-left-decoration:before {
      top: -20px;
      }
      .form-left-decoration:after {
      top: 20px;
      left: 10px;
      }
      .form-right-decoration:before {
      top: -20px;
      right: 0;
      }
      .form-right-decoration:after {
      top: 20px;
      right: 10px;
      }
      .circle {
      position: absolute;
      bottom: 80px;
      left: -55px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      }
      .form-inner {
      padding: 40px;
      }
      .form-inner input,
      .form-inner textarea {
      display: block;
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: none;
      border-radius: 20px;
      background: #d0dfe8;
      }
      .form-inner textarea {
      resize: none;
      }
      form button {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border-radius: 20px;
      border: none;
      
      background: #D11500; 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }

      form button:hover {
      background: #520a01;
      } 
    
      @media (min-width: 568px) {
      form {
      width: 60%;
      }
    }

    .wireframe-img { 
        display: flex ;
       flex-direction:column;
       text-align: center;
       margin-bottom: 5vh;
       margin-top: 2vh;
    }
    .wireframe-img img {
      height: 50vh;  
      width: fit-content;
    }
    
    @media screen and (max-width:768px)  {
        .head .about-flex-wrapper-aboutgallery { 
            display:block;
            float:none;
        }

        .gallery-song-caption{
            font-size: 2.5vw;
        }

        .about-flex-wrapper{
            flex-direction: column;
            align-items: center;
        
        }
        .about-caption {
            font-size:2.5vw;
            padding-left: 3vw;
            padding-right: 3vw;
        }

        .Credits{
            font-size: 3vw;
            line-height: 2vh;
          }

        .descrizione{
            font-size: 3vw;
            line-height: 2vh;
        }
        .wireframe-img img {
            width:90%;
            height: fit-content;
        }
    }   
    
    
    